.carousal{
  display: flex;
  align-items: center;
  justify-content:flex-start;
  gap: 20px;
  padding: 20px;
  min-height: 300px;
  width: 100%;
  background-color:#282c3f;
}

.carousal img{
  transition: 0.3s;
}

.carousal img:hover{
  transform: scale(1.03);
  cursor: pointer;
}

.wrapper{
  width: 62%;
  display: flex;
  gap: 40px;
  animation: slide 45s infinite;
}

@keyframes slide{
  30%{
      transform: translateX(-85%);
  }
}

