.carousal{
  display: flex;
  align-items: center;
  justify-content:flex-start;
  gap: 20px;
  padding: 20px;
  min-height: 280px;
  width: 100%;
  background-color: rgba(255, 166, 0, 0.464);
}

.carousal img{
  transition: 0.3s;
}

.carousal img:hover{
  transform: scale(1.03);
  cursor: pointer;
}

.wrapper{
  width: 62%;
  display: flex;
  gap: 40px;
  animation: slide 45s infinite;
}

@keyframes slide{
  0%{
      transform: translateX(100);
  }
  25%{
      transform: translateX(100);
  }
  30%{
      transform: translateX(-100%);
  }
}

