.help-typo:hover{
    color: rgb(244, 159, 0);
}

.help-page-box{
  background-color: #005062;
}

.help-page-box Button, .help-page-box a{
  border-radius: 0%;
  color: orange;
  font-size: 12px;
}

.help-page-box Button{
    margin: 20px 0;
}

.div1{
  padding: 40px 0 ;
}

.help-page-box .h1{
  padding: 50px 0 0 0;
  margin-left: 20px;
  font-size: 48px;
  font-weight: 600;
  color: white;
}

.help-page-box .p{
  padding: 0px 0 50px 0;
  margin-left: 20px;
  font-size: 22px;
  color: white;
}

.help-page h1{
  padding-left: 15px;
  margin-bottom: 10px;
}

.tabs{
  min-width: 20%;
}

.inner-typo{
  width: 75%;
}
