.help-typo:hover{
    color: rgb(244, 159, 0);
}

.help-page h1{
  padding-left: 15px;
  margin-bottom: 10px;
}

.help-page{
  margin: auto;
}

.tabs{
  min-width: 20%;
}

.inner-typo{
  width: 75%;
}
