.product-card{
  padding: 10px;
  width: 290px;
  cursor: pointer;
}

p {
  padding: 5px 0;
}

hr{
  margin: 0%;
  opacity: 0.5;
}

.product-offer{
  color: #8a584b ;
  font-weight: 600;
  font-size: 13px;
  margin: 5px 0;
}

.product-view{
  text-align: center;
  font-weight: 300;
  visibility:hidden;
  color: rgb(0, 112, 150);
  margin-top: 10px;
}

.product-details h2{
   margin: 5px 0 0 0;
   font-size: 16px;
}

.product-rating{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  font-weight: 500;
}

.product-rating p:nth-child(1){
   background-color: rgb(0, 181, 0);
   color: white;
   padding: 2px 5px;
}

.product-card:hover .product-view{
  visibility: visible;
}

.view-button:hover{
  color: rgba(86, 86, 86, 0.564);
} 

