.product-list,.delivery-time-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin: auto;
}

.product-card{
  width: 290px;
  cursor: pointer;
}

p {
  padding: 5px 0;
}

hr{
  margin: 0%;
  opacity: 0.5;
}

.MuiPaper-rounded:hover {
    border: 1px solid rgba(128, 128, 128, 0.4);
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
}

.product-offer{
  display: flex;
  align-items: center;
  gap: 5px;
  color: #8a584b ;
  font-weight: 350;
  font-size: 13px;
  margin: 5px 0;
  padding: 5px 0 5px 5px;
  border-top: 0.5px solid rgba(128, 128, 128, 0.3);
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.3);
}

.product-view{
  text-align: center;
  font-weight: 300;
  visibility:hidden;
  color: rgb(0, 112, 150);
  margin-top: 10px;
}

.product-details h1{
   margin: 10px 0 0 0;
   font-size: 15px;
   text-transform: capitalize;
}

.product-details p{
   color: grey;
   font-size: 11px;
   padding: 7px 0;
}

.product-rating{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  color : gray
}

.product-rating p:nth-child(1){
   color: white;
   padding: 2px 7px;
   border-radius: 2px;
}

.product-card:hover .product-view{
  visibility: visible;
}

.view-button:hover{
  color: rgba(86, 86, 86, 0.564);
} 

