.shop-details-page{
  width:65%;
  margin: auto;
}

.link{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 10px;
}

.link-one{
  display: flex;
  cursor: pointer;
  gap: 5px;
  font-size: 10px;
}

.shop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 0 0;
}

.shop-1{
  padding: 20px 20px 0;
}

.shop-one{
  display: flex;
  flex-direction: column;
  align-items: left;
}

.shop-one h1{
  font-size: 18px;
}

.shop-two{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding: 5px;
  border-radius: 5px;
}

hr{
  border-top: 1px dashed grey;
}

.delivery-details{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.delivery-time,.delivery-price{
  display: flex;
  font-weight: 900;
  text-transform: uppercase;
  align-items: center;
  gap: 5px;
  width: 120px;
}

.delivery-one{
  display: flex;
  font-size: 12px;
  align-items: center;
  margin: 20px 0;
}

.delivery-two{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.deliver-offers{
  width: 170px;
  padding: 10px;
  border-radius: 5px;
  color:  rgba(128, 128, 128, 1);
  border: 0.5px solid rgba(128, 128, 128, 0.3);
  box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.3);
}

.deliver-offers p{
  font-size: 10px;
  font-weight: 550;
}

.accordion{
  margin-bottom: 50px;
}

.css-1xw6nvn-MuiPaper-root-MuiAccordion-root:first-of-type:hover {
  box-shadow: 0 ;
  border: none;
} 

.accordion-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  padding: 10px 10px 30px 10px; 
}

.acco-one h2{
  font-size: 15px;
  margin: 10px 0;
}

.acco-two img{
  border-radius: 10px;
  width: 100px;
  height: 80px;
  object-fit: cover;
}

.items{
  color: grey;
}

.acco-one p{
  width: 550px;
}

.acco-price{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}